._3GDzK0nLaFibCbGWwCFiQu {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  ._3GDzK0nLaFibCbGWwCFiQu a {
    text-decoration: none; }
  ._3GDzK0nLaFibCbGWwCFiQu h1 {
    color: #222;
    font-size: 42px;
    font-weight: normal;
    letter-spacing: 2px; }
  ._3GDzK0nLaFibCbGWwCFiQu ul {
    list-style: none;
    display: flex; }
    ._3GDzK0nLaFibCbGWwCFiQu ul li {
      margin-right: 4.4em; }
      ._3GDzK0nLaFibCbGWwCFiQu ul li a {
        text-decoration: none;
        font-size: 1.3em;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all .2s ease; }
        ._3GDzK0nLaFibCbGWwCFiQu ul li a:link, ._3GDzK0nLaFibCbGWwCFiQu ul li a:visited {
          color: #999; }
        ._3GDzK0nLaFibCbGWwCFiQu ul li a:hover {
          color: #111; }
        ._3GDzK0nLaFibCbGWwCFiQu ul li a._38AL5D4VPA9dcMY3HNM595 {
          color: #111; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: anonymous-pro, monospace;
  padding: 75px;
  padding-bottom: 0;
  max-width: 135em;
  margin: 0 auto;
  height: auto;
  position: relative;
  min-height: 100vh; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

._1DfcjAf7ys1HlcCUS22A9k {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem; }
  ._1DfcjAf7ys1HlcCUS22A9k p {
    font-size: 1.2rem;
    color: rgba(17, 17, 17, 0.568); }

.QPmnwGNBWwqLWwojkxQi0 {
  text-decoration: none; }
  .QPmnwGNBWwqLWwojkxQi0 p {
    display: inline-block;
    color: #111;
    font-size: 1.4rem;
    margin-top: .6rem; }
  .QPmnwGNBWwqLWwojkxQi0 img {
    transition: all .2s ease;
    filter: blur(0.5px); }
  .QPmnwGNBWwqLWwojkxQi0:hover img {
    transform: scale(1.1);
    filter: none; }

._2DZl7uXyKO9h3wati3hym {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 8rem;
  gap: 2.2em; }

